<section>
    <form class="cadastro">
        <h1>Cadastro</h1>
        <div class="inputs">
            <p>Nome</p>
            <input type="text" name="" id="" placeholder="Primeiro Nome">
            <p>Sobrenome</p>
            <input type="text" name="" id="" placeholder="Sobrenome">
            <p>Data de Nascimento</p>
            <input type="date" name="" id="" placeholder="">
            <p>Email</p>
            <input type="email" name="" id="" placeholder="seuemail@mail.com">
            <p>CPF</p>
            <input type="number" name="" id="" placeholder="000.000.000-00">
            <p>Telefone</p>
            <input type="number" name="" id="" placeholder="DDD + número">
            <p>Senha</p>
            <input type="password" name="" id="" placeholder="suasenha123">
            <p>Confirmar Senha</p>
            <input type="password" name="" id="" placeholder="suasenha123">
        </div>
        <div class="inputs2">
            <label for="user"><input type="checkbox" name="" id="">Declaro que li e aceito os <a href="">Termos e Condiçôes</a> e a <a href="">Política de Privacidade</a></label>
        </div>
        <div class="btn">
            <a href="">
                <div class="butao">Cadastrar</div>
            </a>
        </div>
        <div class="inputs2"> 
            <p>Já possui uma conta?</p>
            <a href="login">Entrar</a>
        </div>
    </form>
</section>