<footer>
    <div class="container">
        <h1>BlooDrink's</h1>
        <div>
            <ul>
                <h2>Sobre a BlooDrink's</h2>
                <li><a id="link" href="">Ajuda</a></li>
                <li><a href="">Trabalhe Conosco</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <h2>Parcerias</h2>
                <ul>
                    <li><a href="">Quero ser parceiro</a></li>
                </ul>
            </ul>
            <ul>
                <h2>Cartão Presente</h2>
                <ul>
                    <li><a href="">Comprar aqui</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="credit">
        <p>Desenvolvido por <a href="">Pablo Muniz</a></p>
    </div>
</footer>