<body>
    <div id="section" class="container2">
        <div class="divimg">
            <img srcset="/assets/img/cerv/spaten600.webp">
        </div>
        <div class="card">           
            <h1>SPATEN 600ml</h1>
            <div class="space"></div>
            <a href="">
                <button>VER DISPONIBILIDADE</button>
            </a>
            <div class="space"></div>
            <h2>Aqui você encontra delivery de Spaten 600ml a preço de mercado.</h2>
            <div class="space"></div>
            <p>É só pedir e entregamos rapidinho na sua casa. Você ainda pode conferir ofertas imperdíveis de cervejas, petiscos, destilados, vinhos e bebidas não alcoólicas, como água, energéticos e refrigerantes.</p>
            <div class="space"></div>
            <p>Basta inserir seu endereço para ver os produtos que estão disponíveis na sua região e aproveitar o maior delivery de bebidas geladas do Brasil.</p>
        </div>
    </div>
</body>