<section>
    <form class="login">
        <h1>Login</h1>
        <div class="inputs">
            <p>Email</p>
            <input type="email" name="" id="" placeholder="seuemail@mail.com">
            <p>Senha</p>
            <input type="password" name="" id="" placeholder="suasenha123">
        </div>
        <div class="inputs2">
            <label for="user"><input type="checkbox" name="" id="">Lembrar-me</label>
            <a href="">Esqueceu a senha?</a>
        </div>
        <div class="btn">
            <a href="">
                <div class="butao">Entrar</div>
            </a>
        </div>
        <div class="inputs2">
            <p>Não tem uma conta?</p>
            <a href="cadastro">Inscrever-se</a>
        </div>
    </form>
</section>