<div class="grade">
    <div class="container">
        <div>
            <a href="list">
                <div id="cerv" class="card">
                    <img srcset="/assets/img/cervejas.webp">
                    <p>Cervejas</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/aguaegelo.webp">
                    <p>Águas e Gelo</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/refri.webp">
                    <p>Refrigerantes</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/chopp.webp">
                    <p>Chopp</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/beatseice.webp">
                    <p>Beats e Ice</p>
                </div>
            </a>
        </div>
    </div>
    <div class="container">
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/vinhos.webp">
                    <p>Vinhos</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/destilados.webp">
                    <p>Destilados</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/conveniencia.webp">
                    <p>Conveniência</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/bombomniere.webp">
                    <p>Bombomniere</p>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="card">
                    <img srcset="/assets/img/petiscos.webp">
                    <p>Petiscos</p>
                </div>
            </a>
        </div>
    </div>
</div>

<section class="cerv">
    <h1>Cervejas</h1>
    <div class="grade2">
        <a href="spaten350">
            <div id="spat" class="card2">
                <img srcset="/assets/img/cerv/spaten350.webp">
                <h2>Spaten 350ml</h2>
                <p>VER DETALHES</p>
            </div>
        </a>
        <a href="spaten600">
            <div class="card2">
                <img srcset="/assets/img/cerv/spaten600.webp">
                <h2>Spaten 600ml</h2>
                <p>VER DETALHES</p>
            </div>
        </a>
        <a href="spaten355">
            <div class="card2">
                <img srcset="/assets/img/cerv/spaten355.webp">
                <h2>Spaten 355ml</h2>
                <p>VER DETALHES</p>
            </div>
        </a>
        <a href="spaten269">
            <div class="card2">
                <img srcset="/assets/img/cerv/spaten269.webp">
                <h2>Spaten 269ml</h2>
                <p>VER DETALHES</p>
            </div>
        </a>
    </div>
  
</section>