<main>
    <div class="banner">
        <h1>Bebida rápida, gelada e no precinho?<br>É com a BlooDrinks !</h1>
    </div>
    <div class="grade">
        <div class="container">
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/cervejas.webp">
                        <p>Cervejas</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/aguaegelo.webp">
                        <p>Águas e Gelo</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/refri.webp">
                        <p>Refrigerantes</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/chopp.webp">
                        <p>Chopp</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/beatseice.webp">
                        <p>Beats e Ice</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">

            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/vinhos.webp">
                        <p>Vinhos</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/destilados.webp">
                        <p>Destilados</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/conveniencia.webp">
                        <p>Conveniência</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/bombomniere.webp">
                        <p>Bombomniere</p>
                    </div>
                </a>
            </div>
            <div>
                <a href="list">
                    <div class="card">
                        <img srcset="/assets/img/petiscos.webp">
                        <p>Petiscos</p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <section class="ajuda">
        <h2>Como funciona a BlooDrinks?</h2>
        <div class="container2">
            <div class="card2">
                <img class="helpimg" srcset="assets/img/motinha.webp">
                <h3>Onde você estiver</h3>
                <p class="desc">Achamos as bebidas geladinhas na sua<br> área e levamos até você!</p>
            </div>
            <div class="card2">
                <img class="helpimg" srcset="assets/img/sacola.webp">
                <h3>Só as favoritas</h3>
                <p class="desc">Você pode escolher entre cervejas,<br> vinhos, água, energéticos, refrigerantes,<br>
                    salgadinhos e até gelo!</p>
            </div>
            <div class="card2">
                <img class="helpimg" srcset="assets/img/brinde.webp">
                <h3>Facilita seu brinde</h3>
                <p class="desc">Suas bebidas chegam geladinhas e <br>super rápidas, prontas para brindar!</p>
            </div>
        </div>
    </section>
    <section class="cidatend">
        <h4>Cidades que atendemos:</h4>
        <div class="grade">
            <ul class="listacdd">
                <li><a class="linkcity" href="">São Luís</a></li>
                <li><a href="">Pinheiro</a></li>
                <li><a href="">Zé Doca</a></li>
            </ul>
            <ul class="listacdd">
                <li><a href="">Caxias</a></li>
                <li><a href="">Miranda</a></li>
                <li><a href="">Pedro do Rosário</a></li>
            </ul>
        </div>
    </section>

</main>